* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #fff; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

#home {
  height: 100vh;
  position: realtive; }

.stripe {
  position: fixed;
  height: 100%;
  width: 40px;
  background: repeating-linear-gradient(to right, #F9F7E8, #F9F7E8 10px, #FF8B8B 10px, #FF8B8B 20px);
  box-shadow: 2px 10px #888888; }

.navbar-default {
  background-color: #FF8B8B;
  box-shadow: 2px 5px #888888; }
  .navbar-default .navbar-nav li a {
    position: relative;
    color: #F9F7E8;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    line-height: 30px;
    transition: 0.3s; }
    .navbar-default .navbar-nav li a:hover {
      color: #888888; }
    .navbar-default .navbar-nav li a:hover::before {
      visibility: visible;
      transform: scaleX(1); }
  .navbar-default .navbar-nav li a::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    background-color: #F9F7E8;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s; }
  .navbar-default .nav-container {
    display: flex;
    justify-content: space-between; }

.var-highlight {
  color: #61BFAD; }

.string-highlight {
  color: #FF8B8B; }

#typewriter {
  font-size: 2em;
  margin: 0;
  font-family: "Courier New"; }
  #typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.stripe2 {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, #61BFAD, #61BFAD 50%, #F9F7E8 50%, #F9F7E8);
  background-size: 100% 20px;
  box-shadow: 2px 5px #888888; }

#technology {
  margin-top: 100px; }
  #technology .first {
    margin-bottom: 100px;
    text-align: center;
    font-size: 35px; }
  #technology .second {
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px; }
  #technology .row {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    #technology .row [class*="col-"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    #technology .row i {
      font-size: 100px;
      color: #888888;
      transition: 0.3s; }
      #technology .row i:hover {
        transform: scale(1.3); }
    #technology .row .html5:hover {
      color: #E44D26; }
    #technology .row .css3:hover {
      color: #33A9DC; }
    #technology .row .javascript:hover {
      color: #FBDE34; }
    #technology .row .jquery:hover {
      color: #0868AB; }
    #technology .row .bootstrap:hover {
      color: #6C43A1; }
    #technology .row .sass:hover {
      color: #CC6699; }
    #technology .row .git:hover {
      color: #EF4F32; }
    #technology .row .foundation:hover {
      color: #2BA6CB; }
    #technology .row .nodejs {
      font-size: 150px; }
      #technology .row .nodejs:hover {
        color: #77B063; }
    #technology .row .react:hover {
      color: #61DAFB; }
    #technology .row .webpack {
      font-size: 170px;
      padding-top: 15px; }
      #technology .row .webpack:hover {
        color: #1C78C0; }

#projekty {
  position: relative; }
  #projekty .stripe3 {
    width: 100%;
    height: 50px;
    top: 0;
    background: repeating-linear-gradient(to right, #61BFAD, #61BFAD 10px, #F9F7E8 10px, #F9F7E8 20px);
    box-shadow: 2px 5px #888888; }
  #projekty h2 {
    text-align: center;
    font-size: 35px; }

/*# sourceMappingURL=style.css.map */
