* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Raleway";
  background-color: #fff; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

[class*="col-"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#home {
  height: 100vh; }
  #home .navbar-default {
    background-color: white; }
    #home .navbar-default .navbar-toggle {
      border: 2px solid grey;
      background-color: white; }
    #home .navbar-default .navbar-nav li a {
      position: relative;
      color: black;
      font-size: 25px;
      font-weight: 300;
      padding: 20px;
      line-height: 30px;
      transition: 0.3s; }
      #home .navbar-default .navbar-nav li a:hover {
        color: grey; }
      #home .navbar-default .navbar-nav li a:hover::before {
        visibility: visible;
        transform: scaleX(1); }
    #home .navbar-default .navbar-nav li a::before {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    #home .navbar-default .nav-container {
      display: flex;
      justify-content: space-between; }
  #home .box {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    color: white;
    font-size: 25px; }
  #home h2 {
    transform: translateZ(40px); }
  #home .box-1 {
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    transition: all 0.7s; }
    #home .box-1:hover {
      border: 20px solid transparent;
      background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); }
  #home .box-2 {
    width: 200px;
    height: 300px;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    transition: all 0.4s; }
    #home .box-2:hover {
      border: 20px solid transparent;
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); }
  #home .box-3 {
    height: 200px;
    width: 600px;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    transition: all 1s; }
    #home .box-3:hover {
      border: 20px solid transparent;
      background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); }

#technology {
  margin-top: 100px; }
  #technology .first {
    margin-bottom: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: 400; }
  #technology .second {
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: 400; }
  #technology .row {
    margin-bottom: 70px; }
    #technology .row [class*="col-"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    #technology .row i {
      font-size: 100px;
      transition: 0.3s; }
    #technology .row .html5 {
      color: #E44D26; }
    #technology .row .css3 {
      color: #33A9DC; }
    #technology .row .javascript {
      color: #FBDE34; }
    #technology .row .jquery {
      color: #0868AB; }
    #technology .row .bootstrap {
      color: #6C43A1; }
    #technology .row .sass {
      color: #CC6699; }
    #technology .row .git {
      color: #EF4F32; }
    #technology .row .foundation {
      color: #2BA6CB; }
    #technology .row .nodejs {
      font-size: 150px;
      color: #77B063; }
    #technology .row .react {
      color: #61DAFB; }
    #technology .row .webpack {
      font-size: 170px;
      padding-top: 15px;
      color: #1C78C0; }

#o-mnie #startchange {
  width: 10px;
  height: 10px;
  visibility: none; }
#o-mnie .description {
  padding: 150px 0;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 2px; }
  #o-mnie .description span {
    font-weight: 500; }

#projekty {
  padding: 100px 0; }
  #projekty h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 100px; }
  #projekty .row {
    flex-flow: row wrap; }
  #projekty .col-md-4 {
    margin-bottom: 20px;
    padding: 20px;
    margin: 10px;
    transition: all 0.4s; }
    #projekty .col-md-4:hover {
      box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.5); }
  #projekty img {
    width: 100%; }
  #projekty .card-text {
    padding: 30px;
    width: 100%;
    flex: 1 1 auto;
    height: 180px;
    background-color: #E6F6FB; }
  #projekty .card-footer {
    padding: 10px;
    width: 100%;
    background-color: #F6C7C7; }
    #projekty .card-footer i {
      font-size: 30px;
      margin-right: 10px; }

#kontakt {
  padding-right: 0 !important;
  padding-left: 0 !important; }
  #kontakt .row {
    width: 100%; }
  #kontakt .background-container {
    background: linear-gradient(to bottom, #30c7ec, rgba(255, 255, 255, 0.5)), url("/images/footer.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding-right: 0; }
  #kontakt .contact-board {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #30c7ec); }
    #kontakt .contact-board h2 {
      text-align: center;
      font-size: 35px;
      font-weight: 400; }
    #kontakt .contact-board svg {
      font-size: 30px; }
    #kontakt .contact-board p {
      font-size: 20px;
      text-align: left; }
    #kontakt .contact-board .social {
      margin-top: 40px;
      padding-bottom: 20px; }
    #kontakt .contact-board .fab {
      color: black;
      background-color: chartreuse; }

/*# sourceMappingURL=style.css.map */
