* {
    box-sizing: border-box
}

body {
  margin: 0;
  font-family: "Raleway";
  background-color:#fff;
  
}

@mixin header-h2{
  text-align:center;
  font-size: 35px;
  font-weight: 400;

}
.row {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

[class*="col-"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  height: 100vh;
    .navbar-default {
      background-color: white;

        .navbar-toggle {
          border: 2px solid grey;
          background-color: white;
        }

        .navbar-nav {
          li {
            a {
              position: relative;
              color: black;
              font-size: 25px;
              font-weight: 300;
              padding: 20px;
              line-height:30px;
              transition:0.3s;
              &:hover {
                color: grey;
              }
              &:hover::before {
                visibility:visible;
                transform: scaleX(1);
              }
            } 
            a::before{
              content: "";
              width: 100%;
              height:3px;
              position:absolute;
              display:block;
              left:0;
              bottom: 0;
              background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
              visibility:hidden;
              transform: scaleX(0);
              transition: all 0.3s ease-in-out 0s;
            }
          }
        }

        .nav-container {
          display: flex;
          justify-content: space-between;
        }
      }
      .box {
        display:flex;
        align-items:center;
        justify-content:center;
        transform-style: preserve-3d;
        color: white;
        font-size: 25px;
      }
      h2 {
        transform: translateZ(40px);
       }
      .box-1 {
        width:400px;
        height: 200px;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        transition: all 0.7s;
          &:hover {
            border: 20px solid transparent;
            background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
          } 
      }
      .box-2 {
        width: 200px;
        height: 300px;
        background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
        transition: all 0.4s;
        &:hover {
          border: 20px solid transparent;
          background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
        }
      }
      .box-3 {
        height: 200px;
        width: 600px;
        background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
        transition: all 1s;
        &:hover {
          border: 20px solid transparent;
          background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
        }
      }
    }

#technology {
  margin-top: 100px;
  .first{
    margin-bottom: 100px;
    @include header-h2;
  
  }
  .second {
    margin-bottom: 40px;
    @include header-h2;
  
  }

  
  .row {
    margin-bottom: 70px;
   
    [class*="col-"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
 
        i {
        font-size: 100px;
        color:BLACK;;
        transition: 0.3s;
        &:hover {
          transform: scale(1.3);

        }
        }
        .html5 {
          color: #E44D26;
        }
        .css3 {
          color:#33A9DC;
        }
        .javascript {
          color: #FBDE34;
        }
        .jquery {
            color: #0868AB;
        }
        .bootstrap {
          color: #6C43A1;
        }
        .sass {
          color:#CC6699;
        }
        .git {
          color: #EF4F32;
        }
        .foundation{
          color: #2BA6CB;
        }
        .nodejs {
          font-size: 150px;
          color: #77B063;
        }
        .react {
            color: #61DAFB;
        }
        .webpack {
          font-size: 170px;
          padding-top:15px;
          color: #1C78C0;
          
        }
      }
    
  }
#o-mnie {
  background-color:#30c7ec;
  
  .description {
    font-size: 18px;
    text-align:justify;
    letter-spacing: 2px;
      span {
        color: #fff;
        font-weight:500;
      }

  }
}



